<header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__nav-list">
        <li class="main-header__nav-item">
          <a class="active" href="/">Home</a>
        </li>
        <li class="main-header__nav-item">
          <a href="/admin/input-details">Input Polulation Details</a>
        </li>
      </ul>
    </nav>
  </header>