<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input Details</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="input-details">Input Polulation Details</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Government Benefits Calculator</h1>
      <b>Boundary Limits: </b>
      <p>
        Age: 1 &lt;= x &lt;= 70 <br />
        Is Citizen: 1 denotes Citizen and 0 denotes foreigner <br />
        Floor: 1 &lt;= x &lt;= 15 <br />
        Unit: 200 1 &lt;= x &lt;= 400 <br />
        Postal Code: 6 digits number <br />
        Income: 0 &lt;= x &lt;= 10000 <br />
      </p>
    </main>
  </body>
</html>
